<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duolingo FAQ</title>
    <link rel="icon" href="{% static 'zaban/assets/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'zaban/scss/faq.css' %}" />
    <link rel="stylesheet" href="{% static 'zaban/css/main.css' %}" />
  </head>
  <body>
    <div class="faq-header">
      <img src="{% static 'zaban/assets/svg/duolingo-green-text-only.svg' %}" alt="Duolingo Logo" />
    </div>
    <div class="faq-container">
      <div class="faq-heading">Frequently Asked Questions</div>
    </div>
    <script src="{% static 'zaban/js/faq.js' %}"></script>
  </body>
</html>
