<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duolingo-shopping</title>
    <link rel="icon" href="{% static 'zaban/assets/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'zaban/css/leaderboard.css' %}" />
    <link rel="stylesheet" href="{% static 'zaban/css/learn.css' %}" />
    <link rel="stylesheet" href="{% static 'zaban/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'zaban/css/shoppingpage.css' %}" />
    <link rel="stylesheet" href="{% static 'zaban/scss/shoppingpage.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <!------------------------------------- Left Sidebar ------------------------------------------------>
      <div class="sidebar">
        <div class="logo-container">
          <img
            src="{% static 'zaban/assets/svg/duolingo-green-text-only.svg' %}"
            alt="dolingo-text"
          />
        </div>
        <div class="sidebar-buttons">
          <a href="{% url 'learn' %}" class="button-in-sidebar">
            <span class="icon-and-text-wrap">
              <div class="icon-in-button">
                <img src="{% static 'zaban/assets/svg/home-in-sidebar.svg' %}" alt="home-icon" />
              </div>
              <span class="text-in-button"> Learn </span>
            </span>
          </a>
          <a href="{% url 'leaderboard' %}" class="button-in-sidebar">
            <span class="icon-and-text-wrap">
              <div class="icon-in-button">
                <img src="{% static 'zaban/assets/svg/badge-in-sidebar.svg' %}" alt="home-icon" />
              </div>
              <span class="text-in-button"> Leaderboard </span>
            </span>
          </a>
          <a href="{% url 'profile-page' %}" class="button-in-sidebar">
            <span class="icon-and-text-wrap">
              <div class="icon-in-button">
                <img
                id="profile-image"
                  src="{% static 'zaban/assets/svg/profile-image-temp.svg' %}"
                  alt="home-icon"
                  class="profile"
                />
              </div>
              <span class="text-in-button"> Profile </span>
            </span>
          </a>
          <a href="{% url 'shoppingpage' %}" class="button-in-sidebar">
            <span class="icon-and-text-wrap selected">
              <div class="icon-in-button">
                <img src="{% static 'zaban/assets/svg/shop-in-sidebar.svg' %}" alt="home-icon" />
              </div>
              <span class="text-in-button"> Shop </span>
            </span>
          </a>
          <a href="{% url 'faq' %}" class="button-in-sidebar">
            <span class="icon-and-text-wrap">
              <div class="icon-in-button">
                <img
                  src="{% static 'zaban/assets/images/sidebar-icon-faq.png' %}"
                  alt="home-icon"
                />
              </div>
              <span class="text-in-button"> FAQ </span>
            </span>
          </a>
        </div>
      </div>
      <!------------------------------------- Content-Container ------------------------------------------------>
      <div class="content-container">
        <!----------------------------------- Right sidebar ------------------------------------------------>
        <div class="right-sidebar">
          <div class="right-sidebar-header">
            <a href="" class="button-in-sidebar">
              <span class="icon-and-text-wrap">
                <div class="icon-in-button">
                  <img
                    src="{% static 'zaban/assets/svg/country-flags/transparent.svg' %}"
                    class="country-flag"
                  />
                </div>
              </span>
            </a>
            <a href="" class="button-in-sidebar">
              <span class="icon-and-text-wrap">
                <div class="icon-in-button">
                  <img
                    src="{% static 'zaban/assets/svg/lesson-xp.svg' %}"
                    alt="home-icon"
                    class="profile"
                  />
                </div>
                <span class="text-in-button fire-text"> 400 </span>
              </span>
            </a>
            <a href="" class="button-in-sidebar">
              <span class="icon-and-text-wrap">
                <div class="icon-in-button">
                  <img
                    src="{% static 'zaban/assets/svg/gems-icon.svg' %}"
                    alt="home-icon"
                    class="profile"
                  />
                </div>
                <span class="text-in-button gem-text"> 7393 </span>
              </span>
            </a>
            <a href="" class="button-in-sidebar">
              <span class="icon-and-text-wrap">
                <div class="icon-in-button">
                  <img
                    src="{% static 'zaban/assets/svg/heart-filled-red.svg' %}"
                    alt="home-icon"
                    class="profile"
                  />
                </div>
                <span class="text-in-button heart-text"> 5 </span>
              </span>
            </a>
          </div>
          <div class="try-super-box">
            <img
              src="{% static 'zaban/assets/svg/super-icon.svg' %}"
              alt="super-text"
              id="try-super-image-one"
            />
            <img
              src="{% static 'zaban/assets/svg/super-duo-owl.svg' %}"
              alt="super-duo-owl"
              id="try-super-image-two"
            />
            <div class="content-text">
              <h2>Try Super for free</h2>
              <div class="description">
                No ads, personalized practice, and unlimited Legendary!
              </div>
              <button id="try-super-button" onclick="openSuperDuolingoPage();">
                Try 2 weeks free
              </button>
            </div>
          </div>
          <div class="try-super-box">
            <div class="league-header-with-link">
              <h2>Nexus League</h2>
              <h2><a href="{% url 'leaderboard' %}">View League</a></h2>
            </div>
            <div class="league-header-with-link">
              <img
                src="{% static 'zaban/assets/svg/amethyst-league-icon.svg' %}"
                alt="amethyst-league-icon"
              />
              <div class="league-text-container">
                <div class="description">
                  Compete with others to move up the league.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scrollable-lesson-div">
          <div class="center-container">
            <div class="flyingowl">
              <div class="divowlhead">
                <img
                  class="owlpic"
                  src="https://d35aaqx5ub95lt.cloudfront.net/images/super/8183c77cba99daf1e900fb5f9b0cc671.svg"
                  alt=""
                />
                <div class="heading">
                  <div class="divheadin">
                    <span class="firstHeading">
                      Start a 2 week free trial to enjoy exclusive Super
                      benefits
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="logInButton"
                id="superLink"
                onclick="loginButtonAnimation()"
              >
                <span>Buy Super for ₹199</span>
              </button>
              <img
                class="super"
                src="https://d35aaqx5ub95lt.cloudfront.net/images/super/2e50c3e8358914df5285dc8cf45d0b4c.svg"
                alt=""
              />
            </div>
            <div class="hearthead">Hearts</div>
            <ul class="shoplist">
              <li class="divinShopping">
                <img
                  class="heart"
                  src="https://d35aaqx5ub95lt.cloudfront.net/images/hearts/547ffcf0e6256af421ad1a32c26b8f1a.svg"
                  alt=""
                />
                <button
                  class="heartButton"
                  id="heartButton"
                  onclick="checkSpanValue()"
                >
                  <span>Full</span>
                </button>
                <div class="divinlist">Refill Hearts</div>
                <p class="parainlist">
                  Get full hearts so you can worry less about making mistakes in
                  a lesson
                </p>
              </li>
              <li class="divinShopping">
                <img
                  class="heart"
                  src="https://d35aaqx5ub95lt.cloudfront.net/images/hearts/4f3842c690acf9bf0d4b06e6ab2fffcf.svg"
                  alt=""
                />
                <button
                  class="freetrialButton"
                  onclick="window.location.href = '{% url 'superduolingo' %}';"
                >
                  <span>Buy Super</span>
                </button>
                <div class="divinlist">Unlimited Hearts</div>
                <p class="parainlist">Never run out of hearts with Super!</p>
              </li>
            </ul>
          </div> 
        </div>
        <!----------------------------------- Scrollable area showing units ------------------------------------------------>
      </div>
    </div>
    <div class="sidebar-buttons bottom-nav">
      <a href="{% url 'learn' %}" class="button-in-sidebar">
        <span class="icon-and-text-wrap">
          <div class="icon-in-button">
            <img src="{% static 'zaban/assets/svg/home-in-sidebar.svg' %}" alt="home-icon" />
          </div>
      
        </span>
      </a>
      <a href="{% url 'leaderboard' %}" class="button-in-sidebar">
        <span class="icon-and-text-wrap">
          <div class="icon-in-button">
            <img src="{% static 'zaban/assets/svg/badge-in-sidebar.svg' %}" alt="home-icon" />
          </div>
      
        </span>
      </a>
      <a href="{% url 'profile-page' %}" class="button-in-sidebar">
        <span class="icon-and-text-wrap">
          <div class="icon-in-button">
            <img
              id="profile-image"
              src="{% static 'zaban/assets/svg/profile-image-temp.svg' %}"
              alt="home-icon"
              class="profile"
            />
          </div>
      
        </span>
      </a>
      <a href="{% url 'shoppingpage' %}" class="button-in-sidebar">
      <span class="icon-and-text-wrap selected">
        <div class="icon-in-button">
          <img src="{% static 'zaban/assets/svg/shop-in-sidebar.svg' %}" alt="home-icon" />
        </div>
      </span>
      </a>
      <a href="{% url 'faq' %}" class="button-in-sidebar">
        <span class="icon-and-text-wrap">
          <div class="icon-in-button">
            <img src="{% static 'zaban/assets/images/sidebar-icon-faq.png' %}" alt="home-icon" />
          </div>
      
        </span>
      </a>
      </div>    
    <script src="{% static 'zaban/js/shoppingpage.js' %}"></script>
    <script src="{% static 'zaban/js/learn.js' %}"></script>
    <script type="module" src="{% static 'zaban/js/updateShopData.js' %}"></script>
  </body>
</html>
